.btn{
  display: block;
  background: #101010;
  box-shadow: 0 0 rem(15) rgba(0, 0, 0, 0.5);
  border-radius: rem(10);
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  &_mini{
    padding: rem(11) 0;
    font-weight: 500;
    font-size: rem(15);
    line-height: em(18, 15);
    min-width: rem(160);
  }
  &_big{
    padding: rem(25) 0;
    width: 100%;
  }
}