.footer{
  &__wrapper{
    background: #fff;
    box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.1);
    border-radius: rem(30) rem(30) 0 0;
    padding: rem(30);
    display: flex;
    justify-content: space-between;
  }
  &__nav,
  &__inf{
    display: flex;
    flex-direction: column;
  }
  &__href,
  &__condition{
    margin: rem(5) 0;
    font-weight: 400;
  }
  &__languages{
    margin-top: rem(35);
  }
  &__languages,
  &__kinds{
    display: flex;
  }
  &__languages-name{
    margin: 0 rem(7.5);
    cursor: pointer;
    transition: .5s color;
    &:hover{
      color: #FFA542;
    }
  }
  &__item{
    margin-right: rem(20);
    display: block;
    &:last-child{
      margin-right: 0;
    }
  }
  &__social{
    display: flex;
  }
}