.footer{
  &__wrapper{
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0px 0px;
    padding: rem(30);
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    display: block;
    height: rem(30);
    img{
      height: 100%;
    }
  }
  &__nav,
  &__inf{
    display: flex;
    flex-direction: column;
  }
  &__href,
  &__condition{
    margin: rem(5) 0;
    font-weight: 400;
    font-size: rem(17);
    line-height: rem(21);
  }
  &__languages{
    margin-top: rem(35);
  }
  &__languages,
  &__kinds{
    display: flex;
  }
  &__languages-name{
    margin: 0 rem(7.5);
    cursor: pointer;
    transition: .5s color;
    &:hover{
      color: #FFA542;
    }
  }
  &__item{
    margin-right: rem(20);
    display: block;
    height: rem(30);
    img{
      height: 100%;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &__social{
    display: flex;
  }
}