@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Montserrat:wght@400;500;600;700&display=swap');
@import "base/function";
@import "base/mixins";
@import "base/nullstyle";
@import "base/variables";

.container{
  max-width: rem(1130);
  width: 100%;
  padding: 0 rem(10);
  margin: 0 auto;
}

*{
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  color: #1C1C27;
  font-size: rem(17);
  line-height: em(21, 17);
}

body{
  display: flex;
  flex-direction: column;
  background: #EAEAEA;
}

main{
  flex: 1 1 rem(100);
}

@import "blocks/img";
@import "blocks/btn";
@import "blocks/title";

@import "blocks/header/header";
@import "blocks/header/media";

@import "blocks/footer";
@import "blocks/advertisement";
@import "blocks/goods";

@import "blocks/conditions/conditions";

@import "blocks/media";

.footer__wrapper{
  display: none;
}